.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


/*--navbar---*/

nav.a.nav-link{
  font-weight:500;
  letter-spacing: 0.6px;

  cursor:pointer;
}
.navbar-nav > li >  a {
  color:rgb(22, 22, 22);
  background-color: #61dafb;
}
/*hover*/

.navbar-nav > li > a.active, .navbar-nav > li > a.focus {
  border-top: 0.1875rem solid var(orange);

}

/*--navbar---*/
.header-wrapper{
  position:relative;
  background-color: #61dafb;
  background-size:cover;
  height:25vh
  
}
.main-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align:center
}
.main-info h1 {
  color:white
}


img{
  width:300px;
  height:300px;
}

.navbar-toggler-icon {
  background-color: #61dafb;
}